@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    font-family: "Kaushan Script", cursive;
}
:root {
    --mainPink: #ef7998;
    --mainYellow: rgb(249, 228, 148);
    --mainWhite: #fff;
    --mainBlack: #000;
    --yellowTrans: rgba(249, 228, 148, 0.5);
    --mainGrey: rgb(238, 238, 238);
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    --border: .2rem solid var(--mainPink);
    --outline: .1rem solid rgba(0, 0, 0, .1);
    --outline-hover: .2rem solid var(--mainPink);
}
::selection {
    background-color: var(--mainBlack);
    color: var(--mainPink);
}
::-webkit-scrollbar {
    width: 1.1rem;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--mainPink);
}
html {
    font-size: 62.5%;
    /* overflow: hidden; */
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}
@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
}
body {
  font-family: "Kaushan Script", cursive;
  background: var(--mainWhite);
  color: var(--mainBlack);
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.section {
    padding: 60px 100px;
}
.heading {
    font-size: 4.5rem;
    margin-bottom: 20px;
    font-weight: 300;
    text-transform: capitalize;
}
.heading span {
    color: var(--mainPink);
    font-size: 6rem;
    font-weight: 600;
}
.btn {
    font-size: 1.7rem;
    text-transform: uppercase;
    color: var(--mainBlack);
    border: 0.1rem solid var(--mainBlack);
    display: block;
    border-radius: 0.5rem;
    padding: 0.6rem 1rem;
    cursor: pointer;
    background-color: transparent;
    font-family: "Kaushan Script", cursive;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
.active,
.btn:hover {
    background-color: var(--mainBlack);
    color: var(--mainPink);
}
.spikes {
    position: relative;
}
.spikes::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-image: linear-gradient(135deg, #fff 25%, transparent 25%), linear-gradient(225deg, #fff 25%, transparent 25%);
    background-size: 250px 40px;
}
.dots {
    background-image: url("../img/dots.png");
    height: 186px;
    width: 204px;
    background-repeat: no-repeat;
    position: absolute;
}
.dots-up {
    top: 200px;
    right: 40px;
}
.dots-down {
    bottom: 200px;
    left: 0;
}
/* ===================== header ===================== */
.header {
    
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    
}
.header.scroll-header {
    box-shadow: var(--box-shadow);
    background-color: var(--mainWhite);
}
.header nav a {
    color: var(--mainPink);
    padding: 10px;
    font-size: 2.5rem;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    text-transform: capitalize;
}
.header nav a:hover {
    color: var(--mainBlack);
}
.header nav p {
    display: none;
}
.header .icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 25%;
}
.header p a {
    color: var(--mainBlack);
}
.header p a:hover {
    color: var(--mainPink);
}
.header p {
    font-size: 1.7rem;
    margin-left: 20px;
}
.header .icon button {
    border: 0.1rem solid var(--mainBlack);
    color: var(--mainBlack);
    border-radius: 0.25rem;
    padding: 0.4rem 0.6rem;
    cursor: pointer;
    background-color: transparent;
    font-size: 1.7rem;
    font-family: "Kaushan Script", cursive;
    transition: all 0.5s ease-in-out;
    margin-left: 10px;
}
.header .icon button:hover {
    background: var(--mainPink);
    border-color: var(--mainPink);
    color: var(--mainWhite);
}
.header .icon button:hover .header .icon button i {
    color: var(--mainWhite);
}
.header .icon div {
    height: 3.8rem;
    width: 3.8rem;
    line-height: 3.8rem;
    border-radius: 0.25rem;
    border: 0.1rem solid var(--mainBlack);
    color: var(--mainBlack);
    font-size: 2rem;
    margin-right: .3rem;
    text-align: center;
    cursor: pointer;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
}
.header .icon div:hover {
    background-color: var(--mainPink);
    color: var(--mainWhite);
    border: 0.1rem solid var(--mainWhite);
}
#menu-btn {
    display: none;
}
.header .shopping-cart {
    position: absolute;
    top: 110%;
    right: -110%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 35rem;
    background-color: var(--mainWhite); 
    transition: all 0.5s ease-in-out;
}
.header .shopping-cart.active {
    right: 2rem;
    transition: .3s linear;
}
.header .shopping-cart .box {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}
.header .shopping-cart .box img {
    height: 10rem;
    object-fit: cover;
}
.header .shopping-cart .box i {
    font-size: 2rem;
    color: var(--mainBlack);
    position: absolute;
    top: 50%;
    right: 2rem;
    cursor: pointer;
    transform: translateY(-50%);
}
.header .shopping-cart .box i:hover {
    color: var(--mainPink);
}
.header .shopping-cart .box .content h3 {
    color: var(--mainBlack);
    font-size: 1.7rem;
    padding: 1rem;
}
.header .shopping-cart .box .content span {
    color: var(--mainYellow);
    font-size: 1.6rem;
}
.header .shopping-cart .box .content .quantity {
    padding-left: 1rem;
}
.header .shopping-cart .total {
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--mainBlack);
}
.header .shopping-cart .btn {
    text-transform: capitalize;
    display: block;
    text-align: center;
    margin: 1rem 0.7rem;
    font-size: 2rem;
}
/* ===================== home ===================== */
.home {
    background-size: cover;
    min-height: 100vh;
    background: linear-gradient(var(--yellowTrans), var(--yellowTrans)),
        url("../img/headerBcg.jpeg") center/cover fixed no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.home div h1 {
    color: var(--mainWhite);
    font-size: 3.9rem;
}
.home div h1 span {
    color: var(--mainPink);
    font-size: 6.3rem;
}
.home div button {
    font-size: 2.7rem;
    text-transform: uppercase;
    color: var(--mainBlack);
    border: 0.3rem solid var(--mainBlack);
    display: block;
    margin: 15px auto;
    border-radius: 0.5rem;
    padding: 0.6rem 0.8rem;
    cursor: pointer;
    background-color: transparent;
    font-family: "Kaushan Script", cursive;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
.home div button.main:hover {
    background: var(--mainBlack);
    color: var(--mainPink);
}
/* ===================== header ===================== */
.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about .text {
    width: 40%;
    padding-right: 40px;
}
.about .text p {
    color: #888;
    font-size: 1.7rem;
}
.about .img {
    width: 50%;
    position: relative;
}
.about .text button.btn {
    margin-top: 2.8rem;
}
.about .img::after {
    content: "";
    position: absolute;
    top: -2rem;
    left: -2.5rem;
    width: 100%;
    height: 99.1%;
    outline: 1rem solid var(--mainYellow);
    z-index: -1;
    transition: all 1s ease-in-out;
}
.about .img:hover::after {
    top: 0;
    left: 0;
}
.about .img img {
    width: 100%;
    object-fit: cover;
}
/* ===================== store ===================== */
.store {
    background-color: #f6f6f6;
}
.store .heading {
    text-align: center;
    margin-bottom: 40px;
} 
.store ul {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.store ul li {
    padding: .7rem 1.1rem;
}
.store form {
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.store form i {
    background-color: var(--mainPink);
    color: var(--mainWhite);
    padding: 1.2rem;
    font-size: 1.8rem;
    border-radius: 10px 0 0 10px;
    border: 1px solid #ccc;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -ms-border-radius: 10px 0 0 10px;
    -o-border-radius: 10px 0 0 10px;
}
.store form input {
    width: 40%;
    padding: .9rem;
    font-size: 1.7rem;
    border-radius: 0 10px 10px 0;
    border: 1px solid #ccc;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
}
.store form input:focus {
    outline: 4px solid #ef799870;
    border: var(--mainPink);
}
.store .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
}
.store .container .box .img {
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.store .container .box .img img {
    width: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    margin-bottom: 0;
}
.store .container .box .img:hover img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.store .container .img span {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1.1rem;
    background: var(--mainYellow);
    border-top-left-radius: 1rem;
    transition: all 0.8s ease-in-out;
    z-index: 300;
    transform: translate(100%, 100%);
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
}
.store .container .img:hover span {
    transform: translate(0, 0);
}
.store .container .img span i {
    font-size: 2rem;
}
.store .container .img span i:hover {
    color: var(--mainWhite);
}
.store .container .box .text {
    padding: 20px;
    background-color: var(--mainWhite);
    margin-top: -4px;
    display: flex;
    justify-content: space-between;
}
.store .container .box .text p {
    font-size: 2rem;
}
/* ===================== event ===================== */
.events {
    position: relative;
}
.events .heading {
    text-align: center;
}
.events .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.events .container img {
    max-width: 450px;
}
@media (max-width: 991px) {
    .events .container img {
        display: none;
    }
}
.events .container .info {
    flex: 1;
}
.events .container .info .time {
    display: flex;
    align-items: center;
    margin: 20px auto;
    gap: 10px;
    justify-content: center;
}
.events .container .info .time .unit {
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    text-align: center;
    width: 75px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.events .container .info .time .unit:hover,
.events .container .info .time .unit:hover span:last-child  {
    border-color: var(--mainPink);
}
.events .container .info .time .unit span {
    display: block;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.events .container .info .time .unit span:first-child {
    font-size: 35px;
    padding: 15px;
    color: var(--mainPink);
}
.events .container .info .time .unit span:last-child {
    padding: 9px 10px;
    font-size: 13px;
    border-top: 1px solid #d4d4d4;
}
.events .container .info .title {
    text-align: center;
    margin: 40px 0 0;
    font-size: 30px;
}
.events .container .info .description {
    text-align: center;
    line-height: 1.7;
    font-size: 1.7rem;
    color: #777;
    
    max-width: 500px;
    margin: 20px auto 0 auto;
}
.events .container .subscribe {
    width: 100%;
    margin-top: 50px;
}
.events .container .subscribe form {
    width: 600px;
    margin: 20px auto;
    padding: 30px 40px;
    background-color: #f6f5f5;
    border-radius: 50px;
    display: flex;
    gap: 20px;
}
@media (max-width: 767px) {
    .events .container .subscribe form {
        max-width: 100%;
        padding: 20px;
        flex-direction: column;
        border-radius: 0;
    }
}
.events .container .subscribe form input[type="email"] {
    padding: 20px;
    border-radius: 50px;
    border: none;
    flex: 1;
    caret-color: var(--main-color);
}
@media (max-width: 767px) {
    .events .container .subscribe form input[type="email"] {
        border-radius: 0;
    }
}
.events .container .subscribe form input[type="email"]:focus {
    outline: none;
}
.events .container .subscribe form input[type="email"]:focus::placeholder {
    opacity: 0;
}
.events .container .subscribe form input[type="email"]::placeholder {
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
}
.events .container .subscribe form input[type="submit"] {
    border-radius: 50px;
    border: none;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    transition: 0.3s;
    background-color: var(--mainPink);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.events .container .subscribe form input[type="submit"]:hover {
    background-color: var(--mainYellow);
}
@media (max-width: 767px) {
    .events .container .subscribe form input[type="submit"] {
        border-radius: 0;
    }
}
/* ===================== review ===================== */
.review {
    background-color: #f6f6f6;
}
.review .review-slider {
    padding:1rem;
}
.review .heading {
    text-align: center;
}
.review .review-slider .box {
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding:3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}
.review .review-slider .box:hover {
    outline:var(--outline-hover);
    outline-offset: 0rem;
}
.review .review-slider .box img {
    height:10rem;
    width:10rem;
    border-radius: 50%;
}
.review .review-slider .box p {
    padding:1rem 0;
    line-height: 1.8;
    color:var(--light-color);
    font-size: 1.5rem;
}
.review .review-slider .box h3{
    padding-bottom: .5rem;
    color:var(--mainBlack);
    font-size: 2.2rem;
}
.review .review-slider .box .stars i {
    color:var(--mainPink);
    font-size: 1.7rem;
}
/* ===================== footer ===================== */
.footer {
    background: #fff;
}
.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}
.footer .box-container .box h3 {
    font-size: 2.5rem;
    color:var(--mainPink);
    padding:1rem 0;
    display: flex;
    align-items: center;
}
.footer .box-container .box h3 img {
    width: 40px;
    margin-left: 10px;
}
.footer .box-container .box .links {
    display: block;
    font-size: 1.5rem;
    color:var(--mainBlack);
    padding:1rem 0;
}
.footer .box-container .box .links i {
    color:var(--mainPink);
    padding-right: .5rem;
}
.footer .box-container .box .links:hover i {
    padding-right: 2rem;
}
.footer .box-container .box p {
    line-height: 1.8;
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
}
.footer .box-container .box .share a {
    height:4rem;
    width:4rem;
    line-height:4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color:var(--mainBlack);
    margin-right: .2rem;
    background: #eee;
    text-align: center;
}
.footer .box-container .box .share a:hover {
    background: var(--mainPink);
    color: #fff;
}
.footer .box-container .box .email {
    width: 100%;
    margin:.7rem 0;
    padding:1rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.6rem;
    color:var(--mainBlack);
    text-transform: none;
    border: none;
}
.footer .box-container .box .email:focus {
    outline: 4px solid #ef799870;
    border: var(--mainPink);
}
.footer .box-container .box .payment-img {
    margin-top: 2rem;
    height: 3rem;
    display: block;
}
.footer .credit {
    text-align: center;
    margin-top: 2rem;
    padding:1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:var(--mainBlack);
    border-top: var(--border);
}
.footer .credit span {
    color:var(--mainPink);
}
/* ===================== media ===================== */
.customize-theme {
    background: rgba(0, 0, 0, 0.4);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
    display: grid;
    place-items: center;
    font-size: var(--small-font-size);
    display: none;
}
.customize-theme .card-alert {
    background: var(--mainWhite);
    padding: 3rem;
    border-radius: 0.5rem;
    width: 30%;
    max-width: 600px;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
.customize-theme .card-alert p {
    font-size: 2.5rem;
    margin-bottom: 30px;
}
.customize-theme .card-alert button {
    padding: 0.5rem 1.2rem;
    font-size: 2rem;
    border: var(--border);
    background-color: #f6f6f6;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
.customize-theme .card-alert button:hover {
    background-color: var(--mainPink);
    color: var(--mainWhite);
}
/* ===================== media ===================== */
@media (max-width: 768px) {
    #menu-btn {
        display: inline-block;
    }
    .header nav {
        position: absolute;
        top: 110%;
        right: -100%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        background-color: var(--mainWhite);
        padding: 1rem;
        border-radius: .5rem;
    }
    .header nav.active {
        right: 2rem;
        transition: .4s linear;
    }
    .header nav a {
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    } 
    .header nav p {
        display: block;
    }
    .header .icon p {
        display: none;
    }
    .section {
        padding: 40px 40px;
    }
    .about {
        flex-direction: column;
    }
    .about .text {
        margin-bottom: 50px;
    }
    .about .text {
        width: 100%;
    } 
    .about .img {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .store form input {
        width: 70%;
    }
    .home {
        min-height: 80vh;
    }
}
@media (max-width: 590px) {
    .section {
        padding: 40px 20px;
    }
    .store ul {
        flex-wrap: wrap;
        gap: 20px;
    }
    .store form input {
        width: 85%;
    }
    .home {
        min-height: 70vh;
    }
}
@media (max-width: 471px) {
    .home div h1 {
        font-size: 3rem;
    }
    .home div h1 span {
        font-size: 5rem;
    }
}
@media (max-width: 320px) {}
